/vendor/almasaeed2010
/vendor/asm89
/vendor/bin
/vendor/brick
/vendor/composer
/vendor/dflydev
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/ezyang
/vendor/facade
/vendor/fakerphp
/vendor/filp
/vendor/fruitcake
/vendor/graham-campbell
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/ibex
/vendor/jeroennoten
/vendor/laravelcollective
/vendor/league
/vendor/maatwebsite
/vendor/maennchen
/vendor/markbaker
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nette
/vendor/nikic
/vendor/nunomaduro
/vendor/opis
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoffice
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ralouphie
/vendor/ramsey
/vendor/sebastian
/vendor/spatie
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/webmozart
/vendor/autoload.php

#Laravel 

/vendor/laravel/sail
/vendor/laravel/sanctum
/vendor/laravel/serializable-closure
/vendor/laravel/tinker
/vendor/laravel/ui

/vendor/laravel/framework/src/Illuminate/Auth
/vendor/laravel/framework/src/Illuminate/Broadcasting
/vendor/laravel/framework/src/Illuminate/Bus
/vendor/laravel/framework/src/Illuminate/Cache
/vendor/laravel/framework/src/Illuminate/Collections
/vendor/laravel/framework/src/Illuminate/Config
/vendor/laravel/framework/src/Illuminate/Console
/vendor/laravel/framework/src/Illuminate/Container
/vendor/laravel/framework/src/Illuminate/Contracts
/vendor/laravel/framework/src/Illuminate/Cookie
/vendor/laravel/framework/src/Illuminate/Database
/vendor/laravel/framework/src/Illuminate/Encryption
/vendor/laravel/framework/src/Illuminate/Events
/vendor/laravel/framework/src/Illuminate/Filesystem
/vendor/laravel/framework/src/Illuminate/Hashing
/vendor/laravel/framework/src/Illuminate/Http
/vendor/laravel/framework/src/Illuminate/Log
/vendor/laravel/framework/src/Illuminate/Macroable
/vendor/laravel/framework/src/Illuminate/Mail
/vendor/laravel/framework/src/Illuminate/Notifications
/vendor/laravel/framework/src/Illuminate/Pagination
/vendor/laravel/framework/src/Illuminate/Pipeline
/vendor/laravel/framework/src/Illuminate/Queue
/vendor/laravel/framework/src/Illuminate/Redis
/vendor/laravel/framework/src/Illuminate/Routing
/vendor/laravel/framework/src/Illuminate/Session
/vendor/laravel/framework/src/Illuminate/Support
/vendor/laravel/framework/src/Illuminate/Testing
/vendor/laravel/framework/src/Illuminate/Translation
/vendor/laravel/framework/src/Illuminate/Validation
/vendor/laravel/framework/src/Illuminate/View
/vendor/laravel/framework/src/Illuminate/composer.json
/vendor/laravel/framework/src/Illuminate/README.md
/vendor/laravel/framework/src/Illuminate/LICENSE.md

/vendor/laravel/framework/src/Illuminate/Foundation/Auth
/vendor/laravel/framework/src/Illuminate/Foundation/Bootstrap
/vendor/laravel/framework/src/Illuminate/Foundation/Bus
/vendor/laravel/framework/src/Illuminate/Foundation/Console
/vendor/laravel/framework/src/Illuminate/Foundation/Events
/vendor/laravel/framework/src/Illuminate/Foundation/Http
/vendor/laravel/framework/src/Illuminate/Foundation/Providers
/vendor/laravel/framework/src/Illuminate/Foundation/stubs
/vendor/laravel/framework/src/Illuminate/Foundation/Support
/vendor/laravel/framework/src/Illuminate/Foundation/Testing
/vendor/laravel/framework/src/Illuminate/Foundation/Validation
/vendor/laravel/framework/src/Illuminate/Foundation/AliasLoader.php
/vendor/laravel/framework/src/Illuminate/Foundation/Application.php
/vendor/laravel/framework/src/Illuminate/Foundation/ComposerScripts.php
/vendor/laravel/framework/src/Illuminate/Foundation/EnvironmentDetector.php
/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
/vendor/laravel/framework/src/Illuminate/Foundation/Inspiring.php
/vendor/laravel/framework/src/Illuminate/Foundation/Mix.php
/vendor/laravel/framework/src/Illuminate/Foundation/PackageManifest.php
/vendor/laravel/framework/src/Illuminate/Foundation/ProviderRepository.php


node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
